{% extends 'base.html' %}
{% block title_name %}ToDo List{% endblock title_name %}

{% block main_content %}

<table>
<tr>
    <th colspan="6"><a href="/create/">Create new Task</a></th>
</tr>
<tr>
    <th colspan="2"><a href="/list/active/">View active</a></th>
    <th colspan="2"><a href="/list/completed/">View completed</a></th>
    <th colspan="2"><a href="/list/">View all</a></th>
</tr>
<tr>
    <th>Id</th>
    <th>Task</th>
    <th>Deadline</th>
    <th colspan="3">Actions</th>
</tr>
{% for do in todo_list %}
    <tr>
        <td>{{ do.id }}</td>
        <td>{{ do.subject }}</td>
        <td>{{ do.date_todo }}</td>
        <td><a href="/details/{{ do.id }}/">View</a></td>
        <td><a href="/update/{{ do.id }}/">Update</a></td>
        <td><a href="/delete/{{ do.id }}/">Delete</a></td>
    </tr>
{% endfor %}

</table>
{% endblock main_content %}